@import url("https://raw.githack.com/shebtastic/xmas-coding-card/main/css/global.css");

.headline {
  font-family: "Mountains of Christmas";
  color: lavenderblush;
}

.contrasted {
  text-shadow: 5px 4px black;
}

.text {
  font-family: "Caveat";
}
